* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #001f25;
}
.loader {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader p {
  font-size: 1.8em;
  color: #00efff;
  text-shadow: 0 0 20px #00efff, 0 0 40px #00efff, 0 0 80px #00efff;
}
.loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
